<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header" *ngIf="title != null">{{title}}</li>
        <li *ngFor="let item of items; let i = index" [ngClass]="{active: item.active, treeview: item.items != null}">
            <a  *ngIf="item.items == null" [routerLink]="item.href">
                <i class="fa {{item.icon}}"></i> <span>{{item.title}}</span>
                <small class="label pull-right {{item.labelBackground}}" *ngIf="item.items == null && item.label != ''">12</small>
            </a>
            <a href="#" *ngIf="item.items != null">
               <i class="fa {{item.icon}}"></i> <span>{{item.title}}</span>
                <i class="fa fa-angle-left pull-right" ></i>
            </a>
            <ul class="treeview-menu" *ngIf="item.items != null">
                <li *ngFor="let subItem of item.items" [ngClass]="{active: subItem.active}">
                    <a [routerLink]="subItem.href"  >
                        <i class="fa {{subItem.icon}}"></i>
                        {{subItem.title}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</section>
